<section class="widget archives">
    <div class="widget-icon">
        {{ partial "helper/icon" "home" }}
    </div>
    
    <div class="widget-archive--list">
        <div class="archives-year">
            <a href="/about/">
                <span class="year">Sobre Mim</span>
            </a>
        </div>
        <div class="archives-year">
            <a href="/palestras/">
                <span class="year">Palestras</span>
            </a>
        </div>
        <div class="archives-year">
            <a href="/projetos/">
                <span class="year">Projetos</span>
            </a>
        </div>
        <div class="archives-year">
            <a href="/contact/">
                <span class="year">Contato</span>
            </a>
        </div>
    </div>
</section>
